.katex-display {
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p, li {
  font-size: 16px;
}

b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.75em;
}

h1 {
  margin-top: 0;
  line-height: 1.5;
}


p, li {
  margin: 0.5em 0;
  line-height: 1.5;
}

hr {
  border-top: 1px solid var(--border-color);
  margin: 2rem 0;
}

li {
  margin-left: 1.75em;
}

ol {
  li {
    list-style: decimal;
  }
}

ul {
  li {
    list-style: disc;
  }
}

blockquote {
  border-left: 4px solid var(--border-color);
  color: var(--text-color-sec);
  margin: 1rem 0;
  padding-left: 0.75rem;
}

p img {
  margin: 0.25em 0;
}

a {
  color: var(--color-b);

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}