$sidebar-width: 280px;
$sidebar-padding: 16px;

aside.sidebar {
  position: fixed;
  z-index: 1000;
  width: $sidebar-width;
  top: 0;
  height: 100%;
  background-color: white;
  box-shadow: 1px 0 0 var(--border-color);
  transition: 0.3s;
}

.close aside.sidebar {
  transform: translate(-$sidebar-width, 0);
  opacity: 0;
}

button.sidebar-toggle {
  position: fixed;
  z-index: 1001;
  width: 24px;
  height: 24px;
  background-color: red;

  left: $sidebar-padding; bottom: $sidebar-padding;
}