:root {
  --font-note: 'Times New Roman', Times, serif;
  --font-note: 'Inter', -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  --font-standard: 'Inter', -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

html {
  font-family: var(--font-standard);
  -webkit-font-smoothing: antialiased;
  color: rgba(black, 0.8);
}

.katex {
  font-size: inherit !important;

  // 如果 note 字体是 Inter 的话，需要调整一下 KaTeX 的大小
  font-size: 1.125em !important;
}